$color00: black;
$color01: #666;
$color02: #777;
$color03: #888;
$color04: #999;
$color05: #aaa;
$color06: #bbb;
$color07: #ccc;
$color08: #ddd;
$color09: #eee;
$color10: white;

//ModalDialog
$modalDialog-buttonYes-background-color: #E65555;
$modalDialog-buttonYes-background-hover-color: #FF3333;
$modalDialog-buttonNo-background-color: #FFFFFF;
$modalDialog-buttonNo-background-hover-color: #F7F7F7;
$modalDialog-buttonOk-background-color: #4CAF50;
$modalDialog-buttonOk-background-hover-color: #63B96F;