@use "sass:color";

$color00: black;
$color01: #666;
$color02: #777;
$color03: #888;
$color04: #999;
$color05: #aaa;
$color06: #bbb;
$color07: #ccc;
$color08: #ddd;
$color09: #eee;
$color10: white;

//ModalDialog
$modalDialog-buttonYes-background-color: #E65555;
$modalDialog-buttonYes-background-hover-color: #FF3333;
$modalDialog-buttonNo-background-color: #FFFFFF;
$modalDialog-buttonNo-background-hover-color: #F7F7F7;
$modalDialog-buttonOk-background-color: #4CAF50;
$modalDialog-buttonOk-background-hover-color: #63B96F;

//Lists
$lists-title-text-color: #425887;
$lists-buttonAdd-background-color: #83D351;
$lists-buttonAdd-background-hover-color: #87E050;
$lists-selectFilter-border-color: #CCD5E9;
$lists-selectFilter-border-focus-color: #7185AF;
$lists-table-thead-text-color: #425887;
$lists-table-data-text-color: #425887;
$lists-table-border-color: #CCD5E9;
$lists-table-icon-hover-color: #ECF1FD;
$lists-paginationIcons-border-color: #CCD5E9;
$lists-paginationIcons-background-hover-color: #ECF1FD;
$lists-paginationIcons-border-active-color: #7185AF;

//Forms
$forms-title-text-color: #7185AF;
$forms-title-bottom-color: #CCD5E9;
$forms-label-color: #5C5C5C;
$forms-input-color: #5C5C5C;
$forms-input-hover-color: #3B89FF;
$forms-input-focus-color: #3B89FF;
$forms-input-border-color: #9EAED0;
$forms-input-icon-border-color: #EEEEEE;
$forms-buttonSetEndDate-background-color: #83D351;
$forms-buttonSetEndDate-background-hover-color: #87E050;
$forms-buttonAddNote-background-color: #83D351;
$forms-buttonAddNote-background-hover-color: #87E050;
$forms-buttonAddConfirmation-background-color: #E9AF57;
$forms-buttonAddConfirmation-background-hover-color: #EDBC56;
$forms-submit-border-bottom-color: #CCD5E9;
$forms-submit-buttonSave-background-color: #83D351;
$forms-submit-buttonSave-background-hover-color: #87E050;
$forms-submit-buttonCancel-color: #7185AF;
$forms-submit-buttonCancel-background-color: #FFFFFF;
$forms-submit-buttonCancel-background-hover-color: #EEEEEE;
$forms-submit-buttonCancel-border-color: #CCD5E9;

//DatePicker
$datepicker-header: #F3F8FF;

//Dashboard
$dashboard-textColor: #7383AC;
$dashboard-lineColor: #D9DFED;
$dashboard-button-color1: rgb(126, 192, 225);
$dashboard-button-color2: rgb(121, 211, 95);
$dashboard-button-background-color:
    linear-gradient(45deg,
        $dashboard-button-color1 0%,
        $dashboard-button-color2 79%
    );
$dashboard-button-background-color-hover:
    linear-gradient( 45deg,
    color.scale($dashboard-button-color1, $lightness: 10%) 0%,
    color.scale($dashboard-button-color2, $lightness: 10%) 79%
    );