{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "DatabaseOptions": {
    "DataSource": "localhost",
    "InitialCatalog": "mini_ITS_Demo",
    "PersistSecurityInfo": true,
    "IntegratedSecurity": false,
    "UserId": "yourUserName",
    "Password": "yourPassword",
    "ConnectTimeout": 10
  },
  "EmailOptions": {
    "FromName": "Your Name",
    "FromAddress": "your-email@example.com",
    "LocalDomain": "your-domain.com",
    "MailServerAddress": "smtp.example.com",
    "MailServerPort": 587,
    "UserId": "your-email@example.com",
    "UserPassword": "your-password",
    "SecureSocketOption": "SslOnConnect"
  },
  "SmsOptions": {
    "ApiUrl": "https://api2.serwersms.pl",
    "Sender": "mini-ITS",
    "UserId": "userName",
    "UserPassword": "password"
  },
  "AllowedHosts": "*"
}