{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "DatabaseOptions": {
    "DataSource": "localhost",
    "InitialCatalog": "mini_ITS_Demo",
    "PersistSecurityInfo": true,
    "IntegratedSecurity": false,
    "UserId": "yourUserName",
    "Password": "yourPassword",
    "ConnectTimeout": 10
  },
  "EmailOptions": {
    "FromName": "Your Name",
    "FromAddress": "your-email@example.com",
    "LocalDomain": "your-domain.com",
    "MailServerAddress": "smtp.example.com",
    "MailServerPort": 587,
    "UserId": "your-email@example.com",
    "UserPassword": "your-password",
    "SecureSocketOption": "SslOnConnect"
  },
  "SmsOptions": {
    "ApiUrl": "https://api2.serwersms.pl",
    "Sender": "mini-ITS",
    "UserId": "userName",
    "UserPassword": "password"
  },
  "EnrollmentEvents": {
    "EnrollmentEvent1": {
      "Description": "Nowe zgłoszenie w systemie",
      "Active": true,
      "ActiveOnHolidays": false,

      "InfoToSendByEmail1": "Zgłoszenie Nr: <b>{Nr}/{Year}</b><br />zostało utworzone w systemie.<br />",
      "InfoToSendByEmail2": "Dział docelowy : <b>{Department}</b><br />Zgłosił(a): {UserAddEnrollmentFullName}<br />",
      "InfoToSendByEmail3": "<p><font color='blue'>System mini-ITS</font></p>",

      "InfoToSendBySMS1": "Zgłoszenie Nr: {Nr}/{Year}",
      "InfoToSendBySMS2": "zostało utworzone w systemie.\nZgłosił(a): {UserAddEnrollmentFullName}\n",
      "InfoToSendBySMS3": "System mini-ITS"
    },
    "EnrollmentEvent2": {
      "Description": "Zmiana statusu zgłoszenia z 'Nowe' na 'W trakcie'",
      "Active": true,
      "ActiveOnHolidays": false,

      "InfoBySMS": true,
      "InfoByMail": true,
      "InfoToCreateUser": false,
      "InfoToDepartmentUsers": false,
      "InfoToDepartmentManagers": true,
      "InfoToAdmins": false,

      "InfoToSendByEmail1": "Zgłoszenie Nr: <b>{Nr}/{Year}</b><br />Nowe zgłoszenie gotowe do rozpoczęcia działania.<br />",
      "InfoToSendByEmail2": "Dział docelowy : <b>{Department}</b><br />Zgłosił(a): {UserAddEnrollmentFullName}<br />",
      "InfoToSendByEmail3": "<p><font color='blue'>System mini-ITS</font></p>",

      "InfoToSendBySMS1": "Zgłoszenie Nr: {Nr}/{Year}",
      "InfoToSendBySMS2": "Nowe zgłoszenie gotowe do rozpoczęcia działania.\nZgłosił(a): {UserAddEnrollmentFullName}\n",
      "InfoToSendBySMS3": "System mini-ITS"
    },
    "EnrollmentEvent3": {
      "Description": "Zmiana statusu zgłoszenia z 'W trakcie' na 'Gotowe do zamknięcia'",
      "Active": true,
      "ActiveOnHolidays": false,

      "InfoBySMS": true,
      "InfoByMail": true,
      "InfoToCreateUser": false,
      "InfoToDepartmentUsers": false,
      "InfoToDepartmentManagers": false,
      "InfoToAdmins": true,

      "InfoToSendByEmail1": "Zgłoszenie Nr: <b>{Nr}/{Year}</b><br />jest gotowe do zamknięcia.<br />",
      "InfoToSendByEmail2": "Dział docelowy : <b>{Department}</b><br />Zgłosił(a): {UserAddEnrollmentFullName}<br />",
      "InfoToSendByEmail3": "<p><font color='blue'>System mini-ITS</font></p>",

      "InfoToSendBySMS1": "Zgłoszenie Nr: {Nr}/{Year}",
      "InfoToSendBySMS2": "jest gotowe do zamknięcia.\n",
      "InfoToSendBySMS3": "System mini-ITS"
    }
  },
  "Scheduling": {
    "SchedulerTask1": {
      "Description": "Reakcja na nowe zgłoszenia bez zmiany statusu",
      "Active": false,
      "ActiveOnHolidays": false,
      "Schedule": "0 0 * * *",
      "Days": 2,

      "InfoBySMS": false,
      "InfoByMail": false,

      "InfoToCreateUser": false,
      "InfoToDepartmentUsers": false,
      "InfoToDepartmentManagers": false,
      "InfoToAdmins": false,

      "InfoToSendByEmail1": "Zgłoszenie Nr: <b>{Nr}/{Year}</b><br />Brak reakcji odbiorcy zgłoszenia.<br />",
      "InfoToSendByEmail2": "Dział docelowy : <b>{Department}</b><br />Zgłosił(a): {UserAddEnrollmentFullName}<br />",
      "InfoToSendByEmail3": "<p><font color='blue'>System mini-ITS</font></p>",

      "InfoToSendBySMS1": "Zgłoszenie Nr: {Nr}/{Year}",
      "InfoToSendBySMS2": "Brak reakcji odbiorcy zgłoszenia.\n",
      "InfoToSendBySMS3": "System mini-ITS"
    },
    "SchedulerTask2": {
      "Description": "Reakcja na zgłoszenia o zbliżającym sie terminem zakończenia",
      "Active": false,
      "ActiveOnHolidays": false,
      "Schedule": "0 0 * * *",
      "Days": 1,

      "InfoBySMS": false,
      "InfoByMail": false,

      "InfoToCreateUser": false,
      "InfoToDepartmentUsers": false,
      "InfoToDepartmentManagers": false,
      "InfoToAdmins": false,

      "InfoToSendByEmail1": "Zgłoszenie Nr: <b>{Nr}/{Year}</b><br />Jutro jest planowany termin zamknięcia zgłoszenia.<br />",
      "InfoToSendByEmail2": "Dział docelowy : <b>{Department}</b><br />Zgłosił(a): {UserAddEnrollmentFullName}<br />",
      "InfoToSendByEmail3": "<p><font color='blue'>System mini-ITS</font></p>",

      "InfoToSendBySMS1": "Zgłoszenie Nr: {Nr}/{Year}",
      "InfoToSendBySMS2": "Jutro jest planowany termin zamknięcia zgłoszenia.\n",
      "InfoToSendBySMS3": "System mini-ITS"
    },
    "SchedulerTask3": {
      "Description": "Reakcja na zgłoszenia po terminie",
      "Active": false,
      "ActiveOnHolidays": false,
      "Schedule": "0 0 * * *",
      "Days": 1,

      "InfoBySMS": false,
      "InfoByMail": false,

      "InfoToCreateUser": false,
      "InfoToDepartmentUsers": false,
      "InfoToDepartmentManagers": false,
      "InfoToAdmins": false,

      "InfoToSendByEmail1": "Zgłoszenie Nr: <b>{Nr}/{Year}</b><br />Zgłoszenie jest po terminie, brak reakcji.<br />",
      "InfoToSendByEmail2": "Dział docelowy : <b>{Department}</b><br />Zgłosił(a): {UserAddEnrollmentFullName}<br />",
      "InfoToSendByEmail3": "<p><font color='blue'>System mini-ITS</font></p>",

      "InfoToSendBySMS1": "Zgłoszenie Nr: {Nr}/{Year}",
      "InfoToSendBySMS2": "Zgłoszenie jest po terminie, brak reakcji.\n",
      "InfoToSendBySMS3": "System mini-ITS"
    }
  },
  "Holidays": [
    { "Month": 1, "Day": 1, "Description": "Nowy Rok" },
    { "Month": 1, "Day": 6, "Description": "Trzech Króli" },
    { "Month": 5, "Day": 1, "Description": "Święto Pracy" },
    { "Month": 5, "Day": 3, "Description": "Święto Konstytucji" },
    { "Month": 8, "Day": 15, "Description": "Wniebowzięcie NMP" },
    { "Month": 11, "Day": 1, "Description": "Wszystkich Świętych" },
    { "Month": 11, "Day": 11, "Description": "Święto Niepodległości" },
    { "Month": 12, "Day": 25, "Description": "Boże Narodzenie" },
    { "Month": 12, "Day": 26, "Description": "Drugi dzień Świąt" }
  ],
  "AllowedHosts": "*"
}